@import url('global.css');

body{
    font-family: "Inter", sans-serif;
    min-height:100vh;
    min-width:100vw;
    background-color:#f2f3f5;
}
#container-landing{
    min-width:980px;
    border:2px solid red;
}
#container-landing .menu-bar{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    height:15vh; 
    margin:0 40px;
    border:2px solid blue;
    background:#FFF;
}
#container-landing .menu-bar ul li{
    display:inline;
    padding:0 26px;
    color:#23286b;
    font:600 16px "Poppins", sans-serif;
}
#container-landing .menu-bar ul button{
    margin-left:42px;
}
